<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link type = 'text/css' rel='stylesheet' href='/style.css'>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/students">All students</a>
        </li>
        <li>
            <a href="/students/new">Enroll student</a>
        </li>
        <li>
            <a href="/houses">All Houses</a>
        </li>
    </ul>
</nav>
  <%= yield %>
</body>
</html>