<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link type = 'text/css' rel='stylesheet' href='/style.css'>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/students/new">Enroll student</a>
        </li>
        <li>
            <a href="/students">All students</a>
        </li>
        <li>
            <a href="/houses">All Houses</a>
        </li>
    </ul>
</nav>
    <div class="container">
      <div class = "content">
        <%= yield %>
      </div>
    <img src = "https://67.media.tumblr.com/f607af5bc60d1b2837add83c70a2aa45/tumblr_inline_mrwv19q8fE1qz4rgp.gif" id="logo" height=500>
    </div>
</body>
</html>