<h1>Enroll Student</h1>

<form action="/students" method = "post">
    <label>
        First name:
        <input type="text" name="first_name"/>
    </label>

    <label>
        Last name:
        <input type="text" name="last_name"/>
    </label>

    <label>
        Age:
        <input type="number" name="age"/>
    </label>

    <label>
        House:
        <select name="house_id">
           <% for house in @houses %>
           <option value="<%= house.id %>">
             <%= house.name %>
            </option>
        
           <% end %>
        </select>
    </label>

    <input type="submit" value="Enroll">
</form>