<h1>Enroll Student</h1>

<form action="/students" method = "post">
    <label>
        <span>First name:</span>
        <input type="text" name="first_name"/>
    </label>

    <label>
        <span>Last name:</span>
        <input type="text" name="last_name"/>
    </label>

    <label>
        <span>Age:</span>
        <input type="number" name="age"/>
    </label>

    <label>
        <span>House:</span>
        <select name="house_id">
           <% for house in @houses %>
           <option value="<%= house.id %>">
             <%= house.name %>
            </option>
        
           <% end %>
        </select>
    </label>

    <input type="submit" value="Enroll">
</form>

<div class="empty">
</div>