body{
    background-image: url(https://67.media.tumblr.com/f607af5bc60d1b2837add83c70a2aa45/tumblr_inline_mrwv19q8fE1qz4rgp.gif);
    background-position: right;
    background-repeat: no-repeat;
    
}